body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #007bff;
}


table {
  width: 100%;
  max-width: 900px;
  margin: 20px auto;
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid #ddd;
}

th,
td {
  padding: 12px;
  text-align: center;
}

th {
  background-color: #007bff;
  color: white;
}

td {
  background-color: #fff;
}


button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
  margin: 10px; 
}

button:hover {
  background-color: #0056b3;
}


input[type="button"] {
  background-color: #007bff;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

input[type="button"]:hover {
  background-color: #0056b3;
}


.container {
  text-align: center;
}
